.no-content,
.no-actions {
  padding: 30px 10px;
  border: #ffffff dashed 1px;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  font-size: 11px;
  text-align: center;
}
