<!-- <div *ngIf="city && weatherInfo" class="weather-detail">
  <header>
    <h2>{{ city.name }}</h2>
  </header>

  <main>
    <img
      src="http://openweathermap.org/img/w/{{
        weatherInfo.weather[0].icon
      }}.png"
      alt="weather-icon"
    />

    <div class="main-info">
      <p class="main-info__temp">{{ weatherInfo.main.temp }} °</p>
      <p class="main-info__description">{{ weatherInfo.weather[0].main }}</p>
    </div>
  </main>

  <footer>
    <p>Air pressure: {{ weatherInfo.main.pressure }}</p>

    <p>Humidity: {{ weatherInfo.main.humidity }}</p>
  </footer>
</div> -->

<!-- <div class="relative flex flex-wrap">
  <ng-select
    [items]="countries$ | async"
    bindLabel="name"
    autofocus
    [(ngModel)]="selectedCountry"
    (change)="onCountry()"
  >
  </ng-select>
</div>

@if(selectedCountry) {
<div class="relative flex flex-wrap items-stretch">
  <ng-select [items]="cities$ | async" (change)="onCity()"> </ng-select>
</div>
} -->
<!-- <div class="flex flex-wrap -mx-3 mb-6">
  <div class="w-full px-3">
    <label
      class="block uppercase tracking-wide text-white-700 text-xs font-bold mb-2"
      for="grid-password"
    >
      Choose Country
    </label>
    <ng-select
      [items]="countries$ | async"
      bindLabel="name"
      autofocus
      [(ngModel)]="selectedCountry"
      (change)="onCountry()"
    >
    </ng-select>
  </div>
</div>
@if (selectedCountry) {
<div class="flex flex-wrap -mx-3 mb-6">
  <div class="w-full px-3">
    <label
      class="block uppercase tracking-wide text-white-700 text-xs font-bold mb-2"
      for="grid-password"
    >
      Choose City
    </label>
    <ng-select [items]="cities$ | async" (change)="onCity()"> </ng-select>
  </div>
</div>
} -->

@for (country of countries$ | async; track $index) {}
<select
  [(ngModel)]="selectedCountry"
  (change)="onCountry()"
  id="countries"
  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
>
  <option [ngValue]="null">Choose country</option>
  @for (country of countries$ | async; track $index) {
  <option [ngValue]="country">{{ country.name }}</option>
  }
</select>

@if (selectedCountry()) {
<select
  [(ngModel)]="selectedCity"
  id="countries"
  class="bg-gray-50 border border-gray-300 my-4 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
>
  <option [ngValue]="null" selected>Choose city</option>
  @for (city of cities$ | async; track $index) {
  <option>{{ city }}</option>
  }
</select>
} @if ({request: weaterInfo$ | async} && weatherInfo()) {
<h2>{{ selectedCity() }}</h2>
<img
  src="http://openweathermap.org/img/w/{{ weatherInfo()?.weather?.[0]?.icon }}.png"
  alt="weather-icon"
/>

<div>
  <p>{{ weatherInfo()?.main?.temp }} °</p>
  <p>{{ weatherInfo()?.weather?.[0]?.main }}</p>
</div>

<p>Air pressure: {{ weatherInfo()?.main?.pressure }}</p>

<p>Humidity: {{ weatherInfo()?.main?.humidity }}</p>
}

<!-- {{ weather() }} 
 @if(selectedCity()&&selectedCountry() && weatherInfo) {
<h2>{{ selectedCity() }}</h2>
<img
  src="http://openweathermap.org/img/w/{{ weatherInfo.weather[0].icon }}.png"
  alt="weather-icon"
/>

<div>
  <p>{{ weatherInfo.main.temp }} °</p>
  <p>{{ weatherInfo.weather[0].main }}</p>
</div>

<p>Air pressure: {{ weatherInfo.main.pressure }}</p>

<p>Humidity: {{ weatherInfo.main.humidity }}</p>
}

{{ weather() }} -->
