<!-- <div *ngIf="city && weatherInfo" class="weather-detail">
  <header>
    <h2>{{ city.name }}</h2>
  </header>

  <main>
    <img
      src="http://openweathermap.org/img/w/{{
        weatherInfo.weather[0].icon
      }}.png"
      alt="weather-icon"
    />

    <div class="main-info">
      <p class="main-info__temp">{{ weatherInfo.main.temp }} °</p>
      <p class="main-info__description">{{ weatherInfo.weather[0].main }}</p>
    </div>
  </main>

  <footer>
    <p>Air pressure: {{ weatherInfo.main.pressure }}</p>

    <p>Humidity: {{ weatherInfo.main.humidity }}</p>
  </footer>
</div> -->
Weather widget
